[Desktop Entry]
Categories=;
Comment=Install the live CD to your hard disk
Comment[as]=আপোনাৰ হাৰ্ড ডিষ্কলৈ লাইভ CD সংস্থাপন কৰক
Comment[bg]=Инсталиране на живото CD на вашия твърд диск
Comment[ca]=Instal·la el CD en el vostre disc dur
Comment[cs]=Nainstalovat Live CD na pevný disk
Comment[da]=Installér live-cd til din disk
Comment[de]=Installieren der Live CD auf der Festplatte
Comment[el]=Εγκαταστήστε το live CD στο σκληρό σας δίσκο
Comment[es]=Instalar el CD vivo en su disco rígido
Comment[fi]=Asenna live-CD kiintolevylle
Comment[fr]=Installer le CD live sur votre disque dur
Comment[hu]=A "live" CD telepítése a merevlemezre
Comment[it]=Installa il live CD sul disco rigido
Comment[ja]=ライブ CD をハードディスクにインストール
Comment[kn]=ಲೈವ್ ಪಡಿಯಚ್ಚು ಹಾರ್ಡ್ ಡ್ರೈವಿಗೆ ಅನುಸ್ಟಾಪಿ
Comment[ml]=നിങ്ങളുടെ ഹാറ്‍ഡ് ഡിസ്കിലേക്ക് ലൈവ് CD ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Comment[nb]=Installer live-CDen til harddisken din.
Comment[nl]=De live CD op uw harde schijf installeren
Comment[pa]=ਲਾਈਵ CD ਆਪਣੀ ਹਾਰਡ ਡਿਸਕ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Zainstaluj Live CD na dysk twardy
Comment[pt]=Instalar o Live CD no seu disco rígido
Comment[pt_BR]=Instalar o live CD no seu disco rígido
Comment[ru]=Установить с Live CD на жесткий диск
Comment[sk]=Inštalácia Live CD na váš pevný disk
Comment[sr@Latn]=Instaliraj živi CD na čvrsti disk
Comment[sr]=Инсталирај живи CD на чврсти диск
Comment[sv]=Installera live-CD till din hårddisk
Encoding=UTF-8
Exec=/usr/bin/liveinst
GenericName=Install
GenericName[as]=সংস্থাপন
GenericName[bg]=_Инсталиране
GenericName[ca]=_Instal·la
GenericName[cs]=_Instalovat
GenericName[da]=Installér
GenericName[de]=Installieren
GenericName[el]=Εγκατάσταση
GenericName[es]=Instalar
GenericName[fi]=Asenna
GenericName[fr]=Installer
GenericName[hr]=Instaliraj
GenericName[hu]=Telepítés
GenericName[it]=Installa
GenericName[ja]=インストール
GenericName[kn]=ಅನುಸ್ಥಾಪಿಸು
GenericName[ml]=ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
GenericName[ms]=Pasang
GenericName[nb]=Installer
GenericName[nl]=Installeren
GenericName[pa]=ਇੰਸਟਾਲ
GenericName[pl]=Zainstaluj
GenericName[pt]=Instalar
GenericName[pt_BR]=Instalar
GenericName[ru]=Установить
GenericName[sk]=Inštalácia
GenericName[sr@Latn]=Instaliraj
GenericName[sr]=Инсталирај
GenericName[sv]=Installation
Hidden=false
Icon=fedora-logo-icon
Name=Install to Hard Drive
Name[as]=হাৰ্ড ড্ৰাইভলৈ সংস্থাপন কৰক
Name[bg]=Инсталиране на твърд диск
Name[ca]=Instal·la en el disc dur
Name[cs]=Instalovat na pevný disk
Name[da]=Installér på diskdrev
Name[de]=Auf der Festplatte installieren
Name[el]=Εγκατάσταση στο σκληρό δίσκο
Name[es]=Instalar en el Disco Rígido
Name[fi]=Asenna kiintolevylle
Name[fr]=Installer sur le disque dur
Name[hu]=Telepítés merevlemezre
Name[it]=Installa sul disco rigido
Name[ja]=ハードドライブにインストール
Name[kn]=ಹಾರ್ಡ್ ಡ್ರೈವಿಗೆ ಅನುಸ್ಥಾಪಿಸು
Name[ml]=ഹാറ്‍ഡ് ഡ്റൈവിലേക്ക് ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Name[ms]=Pasang ke Cakera Keras
Name[nb]=Installer til harddisk
Name[nl]=Naar harde schijf installeren
Name[pa]=ਇੰਸਟਾਲ ਡਰਾਇਵ ਉੱਤੇ ਇੰਸਟਾਲ
Name[pl]=Zainstaluj na dysk twardy
Name[pt]=Instalar no Disco Rígido
Name[pt_BR]=Instalar no Disco Rígido
Name[ru]=Установить на жесткий диск
Name[sk]=Inštalácia na pevný disk
Name[sr@Latn]=Instaliraj na čvrsti disk
Name[sr]=Инсталирај на чврсти диск
Name[sv]=Installation till h
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.12
